:root {
  --bg: #bc9c7c;
  --panel: #F5F5F7; 
  --text: #bc9c7c;
  --gap: 0px;
  --radius: 10px;
  /* Colores del tema */
  --title-color: #bc9c7c;
  --text-dark: #333;
  --button-color: #bc9c7c;
  --shape-bg-1: #c7ab8c;
  --shape-bg-2: #e0e0e2;
}

* { 
  box-sizing: border-box; 
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--text);
  font-family: "Georgia", serif;
}

/* CONTENEDOR GLOBAL */
.page {
  padding: var(--gap);
  display: flex;
  flex-direction: column;
}

.panel {
  background: var(--panel);
  overflow: hidden;
  position: relative;
}

/* SECCIONES GENERALES */
.section {
  padding: 48px 56px;
}

.section-title {
  margin: 0 0 32px;
  font-size: clamp(1.5rem, 3vw, 2.7rem);
  font-weight: 500;
  color: var(--title-color);
}